.inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 300px;
  margin-right: 20px;
}

.inputs__inputBox {
  width: 100%;
}

/*table of radio buttons and custom input*/
.input__tipTable {
  display: grid;
  justify-self: center;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

/*input for custom tip %*/
.input__customTip {
  border-radius: 5px;
  min-height: 30px;
  border: none;
  background-color: hsl(185, 41%, 84%);
  justify-self: center;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

/*hiding up/down buttons*/
.input__customTip::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*custom radio buttons*/
.input__span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  background-color: hsl(183, 100%, 15%);
  width: 100%;
  height: 100%;
  min-height: 40px;
}

.input__span:hover {
  cursor: pointer;
}

.input__radio {
  display: none;
}

.input__radio:checked + span {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

/*basic input*/
.input__num {
  border-radius: 5px;
  min-height: 30px;
  text-align: right;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 10px 16px 10px 0;
  width: 100%;
}

/*hiding up/down buttons*/
.input__num::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*small icons in inputs*/
.billInput {
  background: hsl(185, 41%, 84%) url("../assets/images/icon-dollar.svg") 3%
    no-repeat;
}

.peopleInput {
  background: hsl(185, 41%, 84%) url("../assets/images/icon-person.svg") 3%
    no-repeat;
}

/*labels for those basic inputs*/
.input__label {
  display: inline-block;
  padding: 20px 0 10px;
}

.input__label:hover {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .inputs {
    width: 100%;
  }

  .input__tipTable {
    grid-template-columns: 1fr 1fr;
  }
}
