/*main part of app*/
.form__container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  max-width: 800px;
  min-height: 35%;
  padding: 30px;
}

/*input part of app*/
.inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 20px;
}

.inputs__inputBox {
  width: 100%;
}

/*table of radio buttons and custom input*/
.input__tipTable {
  display: grid;
  justify-self: center;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

/*input for custom tip %*/
.input__customTip {
  border-radius: 5px;
  min-height: 30px;
  border: none;
  background-color: hsl(185, 41%, 84%);
  justify-self: center;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

/*hiding up/down buttons*/
.input__customTip::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*custom radio buttons*/
.input__span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  background-color: hsl(183, 100%, 15%);
  min-height: 40px;
}

.input__span:hover {
  cursor: pointer;
}

.input__radio {
  display: none;
}

.input__radio:checked + .input__span {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

/*basic input*/
.input__num {
  border-radius: 5px;
  min-height: 30px;
  text-align: right;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 10px 16px 10px 0;
  width: 100%;
}

/*hiding up/down buttons*/
.input__num::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*labels for those basic inputs*/
.input__label {
  display: inline-block;
  padding: 20px 0 10px;
}

.input__label:hover {
  cursor: pointer;
}

/*small icons in inputs*/
.billInput {
  background: hsl(185, 41%, 84%) url("src/assets/icons/icon-dollar.svg") 3%
    no-repeat;
}

.peopleInput {
  background: hsl(185, 41%, 84%) url("src/assets/icons/icon-person.svg") 3%
    no-repeat;
}

/*result part of app*/
/*CSS for whole card*/
.results {
  background-color: hsl(183, 100%, 15%);
  width: 50%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

/*reset button*/
.results__reset-button {
  background-color: hsl(172, 67%, 45%);
  border-radius: 5px;
  border: none;
  width: 80%;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
  align-self: center;
  justify-content: flex-end;
}

.results__reset-button:hover {
  cursor: pointer;
}

.results__errorBox {
  color: #f55353;
  margin-left: 15px;
  min-height: 32px;
}

/*CSS result components*/

/*boxes for each result*/
.result {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 40px;
}

.result__text {
  color: white;
}

.result__text-mod {
  color: hsl(186, 14%, 56%);
}

.result__output {
  margin-right: 20px;
  color: hsl(172, 67%, 45%);
  font-weight: 700;
  font-size: 25px;
}

@media only screen and (max-width: 900px) {
  .form__container {
    flex-direction: column;
  }

  .inputs {
    width: 100%;
  }

  .input__tipTable {
    grid-template-columns: 1fr 1fr;
  }

  .results {
    margin-top: 20px;
    padding: 0 0 30px;
    width: 100%;
  }
}
