/*right part with results*/
.result-card {
  background-color: hsl(183, 100%, 15%);
  width: 48%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

/*boxes for each result*/
.result-box {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 40px;
}

.result-text {
  color: white;
}

.result-text h4,
p {
  margin: 0;
}

output {
  margin-right: 20px;
  color: hsl(172, 67%, 45%);
  font-weight: 700;
  font-size: 25px;
}

/*reset button*/
.reset-button {
  background-color: hsl(172, 67%, 45%);
  border-radius: 5px;
  border: none;
  width: 80%;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
  align-self: center;
}

.reset-button:hover {
  cursor: pointer;
}
