.HP {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono", sans-serif;
  background-color: #5085a0;
}

.HP__logo {
  height: 5rem;
}

.HP__title {
  text-align: center;
  font-size: 65px;
  padding: 20px;
}

.HP__creator {
  text-align: center;
  font-size: 32px;
  padding: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .HP__logo {
    animation: HP__logo-spin infinite 20s linear;
  }
}

@keyframes HP__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
