@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  box-sizing: border-box;
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Space Mono", sans-serif;
}

img {
  max-width: 100px;
  margin: 70px;
}

/*main part of app*/
.app-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  max-width: 800px;
  padding: 30px;
}

/*left part with inputs*/
.input-card {
  display: flex;
  flex-direction: column;
  width: 48%;
  min-height: 300px;
}

/*table of radio buttons and custom input*/
.tip-table {
  display: grid;
  justify-self: center;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

/*input for custom tip %*/
.tip-input {
  border-radius: 5px;
  min-height: 30px;
  border: none;
  background-color: hsl(185, 41%, 84%);
  justify-self: center;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

/*custom radio buttons*/
.radio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  background-color: hsl(183, 100%, 15%);
  width: 100%;
  height: 100%;
  min-height: 30px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + span {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

.radio-button:hover {
  cursor: pointer;
}

/*basic input*/
.input-num {
  border-radius: 5px;
  min-height: 30px;
  text-align: right;
  border: 1px solid transparent;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 5px 15px 5px 0;
  width: 100%;
}

/*hiding up/down buttons*/
.input-num::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*small icons in inputs*/
#bill-input {
  background: hsl(185, 41%, 84%) url("images/icon-dollar.svg") 3% no-repeat;
}

#people-input {
  background: hsl(185, 41%, 84%) url("images/icon-person.svg") 3% no-repeat;
}

/*labels for those basic inputs*/
.input-label {
  display: inline-block;
  padding: 20px 0 10px;
}

.input-label:hover {
  cursor: pointer;
}

/*right part with results*/
.result-card {
  background-color: hsl(183, 100%, 15%);
  width: 48%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

/*boxes for each result*/
.tip-person,
.total-person {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 40px;
}

.result-text {
  color: white;
}

.result-text h4,
p {
  margin: 0;
}

output {
  margin-right: 20px;
  color: hsl(172, 67%, 45%);
  font-weight: 700;
  font-size: 25px;
}

/*reset button*/
.reset-button {
  background-color: hsl(172, 67%, 45%);
  border-radius: 5px;
  border: none;
  width: 80%;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
  align-self: center;
}

.reset-button:hover {
  cursor: pointer;
}

/*basis responsiveness*/
@media only screen and (max-width: 900px) {
  .app-container {
    flex-direction: column;
  }
  .result-card {
    margin-top: 20px;
    padding: 0 0 30px;
    width: 100%;
  }

  .input-card {
    width: 98%;
  }
}
