/*main part of app*/
.container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  max-width: 800px;
  padding: 30px;
}

/*left part with inputs*/
.input-card {
  display: flex;
  flex-direction: column;
  width: 48%;
  min-height: 300px;
}

.tip-table {
  display: grid;
  justify-self: center;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.radio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  border-radius: 5px;
  background-color: hsl(183, 100%, 15%);
  width: 100%;
  height: 100%;
  min-height: 30px;
}

/*custom radio button*/
input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + span {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

/*input for custom tip %*/
.tip-input {
  border-radius: 5px;
  min-height: 30px;
  border: none;
  font-family: "Space Mono", sans-serif;
  background-color: hsl(185, 41%, 84%);
  justify-self: center;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

/*right part with results*/
.result-card {
  background-color: hsl(183, 100%, 15%);
  width: 48%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
