.nft {
  min-height: 95vh;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d4873;
  font-family: "Space Mono", sans-serif;
}

.nft__cardLayout {
  max-width: 1500px;
  display: flex;
  gap: 40px 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.nft__card {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #102441;
  border-radius: 10px;
  padding: 20px 25px;
  box-shadow: 0 15px 35px hsla(0, 0%, 0%, 0.4);
}

.nft__imageBox {
  display: flex;
  justify-content: center;
}

.nft__image {
  width: 320px;
  height: 320px;
  border-radius: 10px;
}

.nft__imageView {
  width: 60px;
  height: 60px;
}

.nft__imageOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #00e6e6;
}

.nft__imageOverlay:hover {
  opacity: 0.55;
  cursor: pointer;
}

.nft__title {
  font-size: 24px;
  color: #ffffff;
  transition: 0.5s ease;
  margin-top: 15px;
}

.nft__title:hover {
  color: #00e6e6;
  cursor: pointer;
}

.nft__description {
  margin-top: 15px;
  text-align: justify;
  line-height: 16px;
}

.nft__lineBreak {
  width: 100%;
  border-color: #2f415b;
}

.nft__info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 15px;
}

.nft__info-price,
.nft__info-clock,
.nft__creator {
  display: flex;
  align-items: center;
}

.nft__info-price {
  color: #00e6e6;
}

.nft__info-clock {
  color: #43536b;
}

.nft__ethereum {
  height: 20px;
  width: 15px;
  margin-right: 7px;
}

.nft__clock {
  height: 20px;
  width: 20px;
  margin-right: 7px;
}

.nft__creator,
.nft__description {
  color: #8bacda;
}

.nft__creatorProfile {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

.nft__creatorName {
  color: #ffffff;
  transition: 0.5s ease;
}

.nft__creatorName:hover {
  color: #00e6e6;
  cursor: pointer;
}

.nft__navbar {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.nft__pageList {
  display: flex;
  justify-content: center;
}

.nft__pageNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 35px;
  margin: 0 20px;
  background-color: #102441;
  color: #ffffff;
  border: #ffffff solid 1px;
  border-radius: 7px;
  box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.3);
  text-decoration: none;
  font-size: 1.25rem;
}

.nft__pageNumber:hover {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .nft {
    padding: 10px;
  }
}

@media only screen and (max-width: 374px) {
  .nft__card {
    max-width: 300px;
  }
  .nft__image {
    width: 250px;
    height: 250px;
  }
}
