.nft {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0d192b;
}

.nft__cardLayout {
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 30px;
}

.nft__card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #102441;
  border-radius: 10px;
  font-family: "Space Mono", sans-serif;
  padding: 15px;
}

.nft__image {
  width: 100%;
}

.nft__title {
  font-size: 1.5em;
  color: #ffffff;
  margin-top: 15px;
}

.nft__description {
  min-height: 6vh;
  font-size: 1rem;
  margin-top: 15px;
}

.nft__lineBreak {
  width: 100%;
  border-color: #2f415b;
}

.nft__info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 0.9rem;
}

.nft__info-price,
.nft__info-clock,
.nft__creator {
  display: flex;
  align-items: center;
}

.nft__info-price {
  color: #00e6e6;
}

.nft__ethereum {
  margin-right: 7px;
}

.nft__clock {
  margin-right: 7px;
}

.nft__creator,
.nft__description {
  color: #8bacda;
}

.nft__creatorProfile {
  height: 3rem;
  margin-right: 7px;
}

.nft__navbar {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.nft__list {
  width: 20%;
  display: flex;
  justify-content: center;
}

.nft__pageNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25px;
  height: 25px;
  margin: 0 10px;
  background-color: #2f415b;
  color: #ffffff;
  border: #000000 solid;
  border-radius: 7px;
}

.nft__pageNumber:hover {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .nft {
    padding: 20px 0;
  }
  .nft__cardLayout {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .nft__cardLayout {
    grid-template-columns: 1fr;
  }
}
